In [ ]:
name = "KUMAR"
Name = "JUHI"
NAME = "VIVEK"
print(NAME)
print(Name)
print(name)

VIVEK
JUHI
KUMAR

## Dyanamic datatype
datatype is assigned automatically

In [5]:
a = "Juhi"
type(a)

str

In [ ]:
a = True
type(a)

bool

In [ ]:
a = "Juhi"
#help(a)
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
#a = 30
#b = ""
#print("my no is" + " " + a)
value = 42
print(f'juhi is bad     girl')

juhi is bad     girl

##Type casting

In [ ]:
type(a)

int

In [34]:
a = 30
b = str(a)
type(b)

str

In [ ]:
a = 20
b = str(a)
print(a+int(b))

40

In [50]:
print("juhi \n kumar")

juhi
 kumar

In [ ]:
a = 10
del a

In [69]:
a = "juhi"
b = "kumar"
c = 31
# juhi is bad girl and her age is 31
#print( a +" " + "is a bad girl and"  + " " + str(c) + " " + "is good  boy")
print(f'{a} is bad girl and her age is {c} onlyy')

juhi is bad girl and her age is 31 onlyy

## ASCII VALUE

In [ ]:
##variable naming convensions
ASC1='A'
print(ASC1)

A

In [72]:
ord("a")

97

In [94]:
#stri: array of charactor
a = "MOTESJUHI"

a[-1]

'I'

In [ ]:
x, y, z = "Orange", 1 ,3
print(x)
print(y)
print(z)

a =[2,2,2,3,4,5]

Orange
1
3

# Lists 
#### Used to store multiple values in a single variable.
#### Data type -> collections (list,touple,set,dictionary)
#### indexing 
#### mutable (changable)
#### allows dublicate
#### a = [1,2,3,4,5,6] --square bracket

In [ ]:
a = [1,2,3,4,56,6]
#a[5]
#a[-1]
#a[0:4] #a[start,end+1]

a[-3]

4

In [144]:
a = ["juhi","Amit","kumar",1]
a[3]

1

In [ ]:
a = []
##type(a)

a = [2,3,4,5,6,7,8,9]
b =[]
c =[]
if a%2==0
b.append
id a%2==1
c.append

In [156]:
a = ["juhi","Amit","kumar",[1,2,3,4]]
a[-1][1:]

[2, 3, 4]

In [158]:
a = ["juhi",4,3,2]
a[0]="juhi Ahuja"
a

['juhi Ahuja', 4, 3, 2]

In [162]:
a=[]
a.append(100)
a.append(200)

a[1]

200

In [186]:
a =[1,2,3,4,3,5]
##a.append(200)
##a.pop(2)
##a

##del a[2:4]

#max(a)
#min(a)
#sum(a)

a.sort()
a

[1, 2, 3, 3, 4, 5]

# TUPLE
#### Sigle variable can store multiple value.
#### indexing possible
#### immutable (can not be changed)
#### small ()
#### duplicate allowed

In [208]:
a = (2,2,3,4)
b = list(a)
b[2]

3

In [ ]:
a = ("vivek","juhi","kumar")
a.index("kumar")

2

In [ ]:
a = ("vivek","juhi","kumar")
b = (1,2,3,4)
c = (a,b)
c[1][1]

2

# SET
#### only unique  element.
#### {} curly braces
#### not indexed
#### duplictate not allowed 
#### Mutable

In [ ]:
a ={3,1,2,2,2,4,0}
b ={2,3,4,5,6}
#a.intersection(b)
#b.difference(a)

TypeError: 'set' object is not subscriptable

In [ ]:
a = { 2,2,2,2,3,4}
a

{2, 3, 4}

# Dictionary 
#### key value pair
#### keys are immutable and unique
#### {}
#### indexing is thr (key is index)

In [278]:
a = { 4:"kumar",2:"vivek",3:"juhi"}
a[2]
#a.get(2)
#type(a)

'vivek'

In [ ]:
roll_no = [1,2,3]
roll_no1 = [("juhi","23"),("vivek","19"),("KUMAR","26")]
c = dict(zip(roll_no, roll_no1))
c[2][1]

'19'

In [ ]:
city ={"high court" : 9056135378, "mall" : ["PVR","INOX","MOHINI THEATOR"], 
    "restaurents" : {"chinese" : "chowmine" , "indian":["aalupartha",["mater paneer","sahi panner"],"dal_chawal"]}}

#city["restaurents"]["indian"][1][1]
#city ["mall"][2]

'MOHINI THEATOR'

## Conditional Statement using IF else ##

In [1]:
a = 5
b = 40
if a<b:
    print("a is less than b")
else:
    print("a is gretor than b")
print("hello brother")

a is less than b
hello brother

In [2]:
a = 50
b = 40
if a<b:
    print("a is less than b")
if a != b:
    print("a is not equal to b")
if a>b:
    print("a is gretor to b")
print("hello brother")

a is not equal to b
a is gretor to b
hello brother

In [ ]:
a = 10
b = 4
if a<b:
    print("a is less than b")
elif a != b:
    print("a is not equal to b")
elif a>b:
    print("a is gretor to b")
else:
    print("a is equal to b")
print("hello brother")

a is not equal to b
hello brother

# NESTED IF (if under if)

In [13]:
a = 'DU'
deptcode = 4

if a == 'CU':
    if(deptcode == 1):
        print("CSE department")
    elif(deptcode == 2):
         print("IT department")
    else:
        print("CU have non cse/it branch for this dept code")
if a == 'GU':
    if(deptcode == 5):
        print("GU has CSE department for this dept code")
    elif(deptcode == 6):
         print("IT department")
    else:
        print("non cse/it branch")
if a == 'DU':
    if(deptcode == 5):
        print("DU has IT department for this dept code")
    elif(deptcode == 6):
         print("CSE department")
    else:
        print("non cse/it branch")
print("thanks motes")

non cse/it branch
thanks motes

                                    UNIVERSITY
                                CU             GU         DU
                            1:ME               1:ME
                            2:CSE              5:CSE
                            3:IT               3:CIVIL
                            4:CIVIL            4:IT

                            user input : dept 5

In [ ]:
a = 4
b = 0
if a == 4:
    print("wrong statement")
elif a > 0:
    if(a==b):
        print(" a is equal to b")
    else:
        print("hello brother")
print("hello brother")

wrong statement
hello brother

In [ ]:
a = 4
b = 4
print("wrong statement") if a == 4 else print(" a is equal to b") if (a == b) else print("hello brother")

wrong statement

## Loops
### seq of statment runs till the condition is reached.
### for loop 
### while loop

In [34]:
a = range(5,11)
for indicator in a:
    print(indicator)

5
6
7
8
9
10

In [ ]:
a = [1,2,3,4,5]  a[0]
for i in a: 
    print(a[i])

iteration range : 
1
2
3
4
5


iteration1 i=1
for i in a: 
    print(a[i])

    print(a[1]) ==2
    a=[1,2,3,4,5]

iteration2 i=2
for i in a: 
    print(a[i])

     print(a[2]) ==3
    a=[1,2,3,4,5]

iteration3 i=3
for i in a: 
    print(a[i])
     print(a[3]) ==4
    a=[1,2,3,4,5]

iteration3 i=4
for i in a: 
    print(a[i])
     print(a[4]) ==5

    a=[1,2,3,4,5]


iteration3 i=5
for i in a: 
    print(a[i])

     print(a[5]) == break
    a=[1,2,3,4,5]

2
2
2
2
2

In [ ]:
a = [1,2,3,4,5]
for i in a: 
    print(a[i-1])

    i = 1
    print(a[1-1]), a[0]= 1

    i = 2
    print(a[2-1]), a[1]= 2

    i = 3
    print(a[3-1]), a[2]= 3

    i = 4
    print(a[4-1]), a[3]= 4

    i = 5
    print(a[5-1]), a[4]= 5

    i = 6 === loop break

1
2
3
4
5

In [ ]:
a = "JUHI"
for i in a: 
    print(a)

iteration 1 
 i = J 
print = juhi

i = U 
juhi

i= h 
juhi    

i = i 
JUHI

J
U
H
I

In [69]:
a = "juhi"
for i in a:
    print(i)
    print(a)

j
juhi
u
juhi
h
juhi
i
juhi

In [ ]:
a = [1,2,3,4,5]
for i in a: 
    print(a) [1,2,3,4,5]
    print(i)  1
    print(a[2]) 3
    print(a[-1]) 5
    print(a[i-1]) a[0] =1
    print(a[i])  a[1] = 2

  print(a) [1,2,3,4,5]
    print(i)  2
    print(a[2]) 3
    print(a[-1]) 5
    print(a[i-1]) a[1] =2
    print(a[i])  1[2] = 3


 print(a[3])  1[2] = 4
 print(a[4])  1[2] = 5
 print(a[5])  1[2] = 3

[1, 2, 3, 4, 5]
1
3
5
[1, 2, 3, 4, 5]
2
3
5
[1, 2, 3, 4, 5]
3
3
5
[1, 2, 3, 4, 5]
4
3
5
[1, 2, 3, 4, 5]
5
3
5

In [ ]:
a = [1,2,3,4,5]
for i in a: 
    print(a)
    print(i) 
    print(a[2])
    print(a[-1])
    print(a[i-1])

(1, 2, 3, 4, 5)
1
3
5
1
(1, 2, 3, 4, 5)
2
3
5
2
(1, 2, 3, 4, 5)
3
3
5
3
(1, 2, 3, 4, 5)
4
3
5
4
(1, 2, 3, 4, 5)
5
3
5
5

In [ ]:
a = {4: "kumar", 2: "juhi" , 3: "vivek"}
for i in a.values():
    print(i)
    print(a.values())
    print(a[i])

kumar
dict_values(['kumar', 'juhi', 'vivek'])
juhi
dict_values(['kumar', 'juhi', 'vivek'])
vivek
dict_values(['kumar', 'juhi', 'vivek'])

In [ ]:
    a=[1,2,4,5]
    a[3]== 4th object ,0,1,2,3
    a = {4: "kumar", 2: "juhi" , 3: "vivek"}
    a[3]== key ki value

In [ ]:
a=[1,2,4,5]
for i in a:
    print(a[i])

2
[1, 2, 4, 5]
4
[1, 2, 4, 5]

IndexError: list index out of range

In [ ]:
i = 1
while i < 5:
    print("Hi Motes")
    i = i + 1

iteration:
 i =1 
 True  1<5
 Hi Motes
 i = 1+1 ==2

iteration 2
 i =2
2<5 True
Hi Motes
i = 2+1 ==3

iteration 3
 i =3
3<5 True
Hi Motes
i = 3+1 ==4

iteration 4
 i =4
4<5 True
Hi Motes
i = 4+1 ==5

iteration 5
 i =5
5<5 FALSE

Hi Motes
Hi Motes
Hi Motes
Hi Motes
Hi Motes
Hi Motes
Hi Motes
Hi Motes
Hi Motes

In [ ]:
i = 1
while i < 5:
    print("Hi Motes")
    i = i - 2
    print("bye bye")

1
1<5 True
hi motes
i = 1-2 > -1
bye bye 


-1
-1<5 True
hi motes
i = -1-2 > -3
bye bye 

-3
-3<5 True
hi motes
i = -3-2 > -5
bye bye 

-5
-5<5 True
hi motes
i = -5-2 > -7
bye bye

In [8]:
i = 10
while i > 5:
    print("Hi Motes")
    print(i)
    i = i - 2
    #print(i)
    print("bye bye")

i =10
10> 5 True
Hi Motes
i=10-2
8
bye bye

i =8
8 > 5 True
Hi Motes
i=8-2
6
bye bye

i = 6
6 > 5 True
Hi Motes
i=6-2
4
bye bye

i = 4
4 > 5 false

SyntaxError: invalid syntax (3596651248.py, line 10)

In [12]:
i = 10
while i > 5:
    print(i)
    print("Hi Motes")
    i = i - 2
    print(i ** 2)
    print("bye bye")

10
Hi Motes
64
bye bye
8
Hi Motes
36
bye bye
6
Hi Motes
16
bye bye

In [ ]:
*
**
***
****
*****

In [3]:
for i in range(1,6):
    print(i * "*")

*
**
***
****
*****

In [9]:
for i in range(5,0, -1):
    print(i * "*")

*****
****
***
**
*

In [34]:
for i in range(1,6):
    print(" " * (5-i) + "*" * (2*i -1)+ " " * (5-i) )

    *
   ***
  *****
 *******
*********

In [17]:
for i in range(1,6):
    print("*" * (5-i) + " " * (2*i -1)+ "*" * (5-i) )

**** ****
***   ***
**     **
*       *

In [31]:

for i in range(1,5):
    print("*" * (5-i) + " " * (2*i -1)+ "*" * (5-i) )
for i in range(4,0, -1):
    print("*" * (5-i) + " " * (2*i -1)+ "*" * (5-i) )

**** ****
***   ***
**     **
*       *
*       *
**     **
***   ***
**** ****

In [33]:
for i in range(1,5):
    print(" " * (5-i) + "*" * (2*i -1) )
for i in range(5,0, -1):
    print(" " * (5-i) + "*" * (2*i -1) )

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [65]:
a = ['j','u','h','i']
for i in range((len(a)-1),-1,-1):
    print(a[i])

i
h
u
j

In [69]:
a = ['j','u','h','i','e']
for i in range((len(a)-1),-1,-1):
    print(a[i])

e
i
h
u
j

In [106]:
a = 'juhii'
for i in a:
    if i in('a','e','i','o','u'):
        print(i)        
print(count)

u
i
i
16

#Function: set of statement combine to perfor some task/action. it should return some value.
parameter can be passed.

In [1]:
a = 3
b = 5
c = a + b
print(c)

8

In [6]:
def sum_2_nos(a,b):
    return (a + b)
def sum_3_nos(a,b,c):
    return (a + b + c)

In [7]:
sum_3_nos(1,4,5)

10

In [5]:
sum_2_nos(5,6)

11

In [ ]:
for i in range(1,6):
    print(i * "*")

In [12]:
def pattern_print(n):
    for i in range(1,n+1):
        print(i * "*")

In [17]:
import newone.py
pattern_print(5)

ModuleNotFoundError: No module named 'newone'

In [14]:
pattern_print(7)

*
**
***
****
*****
******
*******

In [16]:
a = ['j','u','h','i']
a.sort()
print(a)

['h', 'i', 'j', 'u']

In [18]:
pattern_print(4)

*
**
***
****

In [19]:
pattern_print(6)

*
**
***
****
*****
******

In [ ]:
def pattern_print():
    for i in range(1,5+1):
        print(i * "*")

In [24]:
pattern_print()

*
**
***
****
*****

In [48]:
def credentials(name, age='NOT APPLICABLE' , loc='NOT APPLICABLE'):
    print(name)
    print(age)
    print(loc)

In [49]:
credentials(name ='vivek' , age ='13',loc='DELHI')

vivek
13
DELHI

In [50]:
credentials(name ='vivek' , age ='13')

vivek
13
NOT APPLICABLE

In [51]:
credentials(name ='vivek')

vivek
NOT APPLICABLE
NOT APPLICABLE

In [36]:
def pattern_print(n):
    for i in range(1,n+1):
        print(i * "*")

In [37]:
pattern_print(n=3)

*
**
***

In [69]:
def even_check(a):
    empty_list = []
    odd_list =[]
    for i in a:
        if i % 2 == 0:
            empty_list.append(i)
        else:
            odd_list.append(i)
    return empty_list , odd_list

In [83]:
def vowel_cons(a):
    vowel = []
    consonent =[]
    for i in a:
            if i in ('a','e','i','o','u'):
                   vowel.append(i)
            else:
                  consonent.append(i)
                  
    return vowel , consonent

In [84]:
vowel_cons('juhi')

(['u', 'i'], ['j', 'h'])

In [70]:
even_check([0,1,2,3,4,5,6,7])

([0, 2, 4, 6], [1, 3, 5, 7])

In [85]:
def even_check(a):
    empty_list = []
    odd_list =[]
    for i in a:
        if i % 2 == 0:
            empty_list.append(i)
        else:
            odd_list.append(i)
    return empty_list , odd_list

In [96]:
a = list (range(1,20))
a
even_check(a)

([2, 4, 6, 8, 10, 12, 14, 16, 18], [1, 3, 5, 7, 9, 11, 13, 15, 17, 19])

In [146]:
def mykey(**a):
    for i in a:
        b = []
        b.append(a[i])
        c = list(b)
        print(c)

In [148]:
d = mykey(name ='vivrk' ,age = 12, sal = 10000 , add = 'delhi')

['vivrk']
[12]
[10000]
['delhi']